<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testall">
  <test thread-count="5" name="StringTest">
    <classes>
      <class name="com.qa.Java_Practics_String"/>
      <class name="com.qa.test_withoutSeialization"/>
    </classes>
  </test> <!-- StringTest -->
</suite> <!-- testall -->
